@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.15s;
    box-sizing: border-box;
    Scroll-behavior:smooth;
}

html,body{
    overflow-x: hidden;
}

body{
    background-color: #343434;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-x: hidden;
    width: 100%;
}

.title{
    text-align: center;
    margin-top: 30%;
    font-size: 40px;
    font-weight: 500;
    
}

.logoImg{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 10px;
    top: 180px;
}

.middle{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #22201F;
    margin-top: 180px;
    border-radius: 10px;
    height: 320px;
    overflow-y: auto;
}

nav i{
    display: flex;
    font-size: 40px;
    margin-top: 5px;
}



nav p{
    font-size: 17px;
    text-align: center;
    position: relative;
   top: 20px;
}

.top,.bottom{
  
    height: 50%;
    display: flex;
}

.newsNav,.whatIsNav,.latestwinnerNav,.contactNav{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFBB00;
}

.news{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.news p{
    text-align: center;
    font-size: 30px;
}

.newsSection{
    width: 90%;
    height: 500px;
    background-color: white;
    margin-top: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.news1{
    height: 100px;
    border-bottom: solid grey;
    display: flex;
}

.newsPhoto{
    width: 25%;   
}

.newsphotoFirst{
    border-radius: 12px 0 0 0;
}

.newsBody{
    width: 75%;
    border-left: solid grey;
    height: 100%;
    
}

.newsTitle{
    color: #FFBB00;
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
}

.newsDescription{
    color: grey;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
    overflow: hidden;
    height: 40%;
}

.newsDate{
    color: grey;
    display: flex;
    margin: 5px 0 0 10px;
}

.newsDate p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-left: 5px;
}

.whatIs{
    margin:160px 0 0 10px;
    color: #FFBB00;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.whatIsBody{
    width: 90%;
    border-radius: 12px;
    background-color: #22201F;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}

.container {
    position: relative;
    background: #343434;
    height: 200px;
  }
  
  .wave {
    position: absolute;
    height: 69px;
    width: 100%;
    background: #343434;
    bottom: 0;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
  }
  .wave::after {
    width: 55%;
    height: 100%;
    background-color: #343434;
    left: -1.5%;
    top: 40%;
  }

  .winner{
    background-color: #fff;
    color: #343434;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .winner u{
    margin-top: 60px;
    font-size: 23px;
    font-weight: bold;
  }

  .leaderboard{
    background-color: #fff;
    height: 250px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .num1{
    color: #FFBB00;
    font-size: 19px;
    font-weight: 700;
    margin-top: 70px;
  }

  .num2{
    color: silver;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
  }

  .num3{
    color: brown;
    font-weight: 600;
    margin-top: 30px;
  }

  .space{
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 54%, rgba(52,52,52,1) 79%);
height: 400px;
  }

  .contactInfo{
    color: white;
    display: flex;
    justify-content: center;
  }

  .contactTitle{
   position: relative;
   top: -70px;
   font-size: 18px;
   font-weight: bold;
  }


  .contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .phoneNum,.email{
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .email{
    font-size: 12px;
    margin-top: 20px;
  }

  .socials{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 30px;
  }

  .madeBy{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
  }

  .madeBy p{
    color: #FFBB00;
    font-weight: bold;
  }

  .newsNav:active{
    background-color: #343434;
  }

  .whatIsNav:active{
    background-color: #343434;
  }

  .latestwinnerNav:active{
  background-color: #343434;
  }

  .contactNav:active{
  background-color: #343434;
  }

  .hamburgerListLogo{
    position: absolute;
    right: 0;
    margin: 20px 15px 0 0;
    font-size: 20px;
  }

  .exit{
    display: none;
    color: #FFBB00;
    z-index: 2;
  }

  .enter{
    display: flex;
    z-index: 2;
  }

  .hamburgerList{
    width: 100%;
    height: 100px;
    position: absolute;
    right: 0;
    background-color: #22201F;
    display: none;
    justify-content: space-evenly;
    z-index: 1;
    border-radius: 0 0 10px 10px;
  }

  .listDiv{
    display: flex;
    margin-top: 15px;
    width: 100%;
    color: #FFBB00;
    align-items: center;
    justify-content: center;
  }





  